<ion-view title="About">
	<ion-content has-bouncing="false" class="">
		<div class="scaleVid ratio16x9">
			<img src="img/temp.png" />
		</div>
		<div class="threeleaf-separator">ABOUT</div>
		<div class="padding">
			<h2>Many faces. One faith.</h2>
			<p>First Baptist Church is a diverse fellowship of believers striving to follow in the footsteps of Jesus Christ. We prioritize spreading the good news of our Savior through an emphasis on loving people, supporting missions, and serving our community. On any given Sunday morning you’ll hear languages throughout our halls that represent people from all over the globe. The congregation at First Baptist consists of people from many different countries and varying walks of life. But however different our backgrounds or languages may be, we are all bound together by the grace of God through His son, Jesus. </p>
			<h2>We are First Baptist.</h2>
			<p>From young to old, we have something for everyone. Our Sunday School classes and weekly bible studies focus on studying scripture and investing personally in one another. Our various ministries provide the opportunity to serve wherever you feel called. We believe in living as a community- together through thick and thin.</p>
			<p>Come find your place in the family here at First Baptist Church!</p>
		</div>
	</ion-content>
</ion-view>