<ion-view title="About">
	<ion-content has-bouncing="false" class="">
		<div class="scaleVid ratio16x9">
			<img src="img/temp.png" />
		</div>
		<div class="threeleaf-separator">ABOUT</div>
		<div class="padding">
			<p><b>God</b> is the creator of all things. <b>God</b> is all-powerful and all-knowing.</p>
			<p><b>Jesus Christ</b> is the resurrected Lord, and salvation is by grace through faith in Him.</p>
			<p>The <b>Holy Spirit</b> works in the lives of all believers.</p>
			<p>The <b>Bible</b> is God's Word and is the authority for faith and for life.</p>
			<p>Each church is autonomous and self-governing, and we acknowledge <b>Christ</b> as the head of the church.</p>
			<p><b>Believers</b> are priests before God, but we are called to Christian community in the body of Christ.</p>
			<p>We are called to <b>Jesus' mission</b> and to reach out around the world with His love expressed in words and in deeds.</p>
			<p>The <b>State and Church</b> should be separate, and all people deserve religious liberty.</p>
			<p>We affirm the doctrinal statements set forth in <a href="#" onclick="window.open('http://www.firstamarillo.org/beliefs','_system','location=no');return false;">The Baptist Faith and Message"</a> as adopted by the Southern Baptist Convention in 1963</p>
		</div>
	</ion-content>
</ion-view>