<div>
	<ion-view title="NEWS">
		<ion-content class="">
			<div class="scaleVid ratio16x9">
				<img ng-if="!article.MediaVideo.preview" img-cache ic-src="{{imageDir+article.MediaImage.filename}}/width:800/height:450/crop:true/zoom:auto/{{article.MediaImage.filename}}"/>
				<div ng-if="article.MediaVideo.preview.length > 0" class="scaleVid ratio16x9">
					<video id="article_video_player" controls="controls" ng-attr-poster="{{imageDir+article.MediaVideo.preview}}/width:800/height:450/crop:true/zoom:auto">
						<source ng-src="{{DOMAIN+'/play/vid/'+article.MediaVideo.id+'/play.mp4' | trusted}}">
					</video>
				</div>
			</div>
			<div class="threeleaf-separator">{{article.NewsArticle.title}}</div>
			<div class="padding">
				<a ng-if="article.MediaVideo.filename" class="button button-block button-positive" ng-click="playVideo('article_video_player')"><span class="threeleaf">V</span>WATCH</a>
				<div ng-bind-html="trust(article.NewsArticle.body)"></div>
			</div>
		</ion-content>
	</ion-view>
</div>