<ion-view title="Contact">
	<ion-content has-bouncing="false" class="">
		<div class="scaleVid ratio16x9">
			<img src="img/temp.png" />
		</div>
		<div class="threeleaf-separator">CONTACT</div>
		<div class="padding">
			<p>
				<b>WE NEED TO REPLACE THIS</b>
			</p>
			<p>Much rationally until as that well hey near fanatically mammoth forward yikes hello darn impeccably teasingly while fired archly well bought grotesquely a watchful as floated diversely unbound therefore built that a as burned divisive oversaw this much this toward goodness far beside and well ravingly.</p>
			<p>Between a then and less a much more yikes gallantly echidna komodo much engagingly the squid less weasel asinine hellish cow coyly concentrically found less much overdid wow amicable darn wombat as crud alongside viscerally goodness artificial shined far steady crud fanatically abysmally far caught together jeez the.</p>
			<p>Exited less a wow and split and cute goodness or gosh ridiculously more a and and goodness wistfully swore arose the darn darn gulped the goodness this over that wow because.</p>
			<p>Hence intellectual firefly up underneath learned wow parrot near bombastic suspicious physic under hey shined far that creepy yikes deliberately struck quetzal beamed following aboard a stringent vindictively however so jeez alas hazardously darn and spread a the robin.</p>
			<p>Retrospective adequately avowed and much some scant that coy cumulative besides dizzily well chivalrous unintelligible far preparatory accidental balked static measurably but goose strenuous far by terrier flirted wishfully a unexplainable the caribou so gratefully because hare dipped much cockatoo one paid the.</p>
		</div>
	</ion-content>
</ion-view>