<ion-view title="App Information">
	<ion-content has-bouncing="false" class="">
		<div class="scaleVid ratio16x9">
			<img src="img/temp.png" />
		</div>
		<div class="threeleaf-separator">APP INFORMATION</div>
		<div class="padding">
			<p><b>Name:</b> First Baptist Church of Amarillo</p>
			<p><b>Version:</b> 1.0.0</p>
			<p><b>Last Updated:</b> August 17, 2015</p>
		</div>
		<div class="scaleVid ratio16x9">
			<img src="img/threeleaf.jpg" />
		</div>
		<div class="threeleaf-separator">DEVELOPER</div>
		<div class="padding">
			<p>1619 S. Kentucky<br>
			Suite F-670<br>
			Amarillo, TX 79109<br>
			Phone: (806) 553-5252<br></p>
			<p><a href="#" onclick="window.open('http://www.threeleaf.net','_sytem'); return false;" class="button button-block button-positive">Website threeleaf.net</a></p>
		</div>
	</ion-content>
</ion-view>