<ion-view title="Giving">
	<ion-content has-bouncing="false" class="">
		<div class="scaleVid ratio16x9">
			<img src="img/temp.png" />
		</div>
		<div class="threeleaf-separator">GIVING</div>
		<div class="padding">
			<p>Giving to the FBC budget supports all of our ministries, from Vacation Bible School to a school for AIDS orphans in Kenya, from Bible Study literature to TV broadcast equipment, from youth camp to job training. Your giving makes a difference here and around the world.  </p>
			<a class="button button-block button-positive" onclick="window.open('https://webview.shelbyinc.com/app/01669/Default.aspx?tabindex=1&tabid=17','_system','location=no');return false;" href="#">DONATE ONLINE NOW</a>
		</div>
	</ion-content>
</ion-view>