<ion-view view-title="Home">
	<ion-nav-title>
		<img src="img/logo.png" class="title-image" />
	</ion-nav-title>
	<ion-content>
		<ion-refresher pulling-text="Pull to refresh..." on-refresh="update()"></ion-refresher>
		<div class="scaleVid ratio16x9">
			<ion-slide-box does-continue="true" auto-play="true">
				<ion-slide ng-repeat="header in headers">
					<div>
						<a ui-sref="menu.tabs.article({articleIndex: $index, category: 'headers'})">
							<img ng-if="header.MediaImage.filename.length > 0" img-cache ic-src="{{imageDir+header.MediaImage.filename}}/width:800/height:450/crop:true/zoom:auto/{{header.MediaImage.filename}}" style="width: 100%;" />
						</a>
					</div>
				</ion-slide>
			</ion-slide-box>
		</div>
		<div class="threeleaf-separator">
			<span class="threeleaf">oy</span>NEWS & EVENTS</div>
		<div class="padding">
			<div class="community_post" ng-repeat="article in articles">
				<div class="scaleVid ratio16x9">
					<a ui-sref="menu.tabs.article({articleIndex: $index, category: 'articles'})">
						<div ng-switch on="article.NewsArticle.media_video_id">
							<div ng-switch-when="video">
								<img ng-if="article.MediaVideo.preview !== null" img-cache ic-src="{{imageDir+article.MediaVideo.preview }}/width:800/height:450/crop:true/zoom:auto/{{article.MediaVideo.preview}}" style="width: 100%;" />
							</div>
							<div ng-switch-default>
								<img ng-if="article.MediaImage.filename !== null" img-cache ic-src="{{imageDir+article.MediaImage.filename }}/width:800/height:450/crop:true/zoom:auto/{{article.MediaImage.filename}}" style="width: 100%;" />
							</div>
						</div>
						<h4 class="redbg">{{article.NewsArticle.title}}</h4>
					</a>
				</div>
			</div>
			<button class="button button-block button-positive" on-click="window.open('http://www.firstamarillo.org/resources-reporter','_system','location=yes');">REPORTER</button>
			<a class="button button-block button-positive" onclick="window.open(http://www.firstamarillo.org/resources-reporter,'_system','location=no');return false;" href="#">TEST</a>

			<div ng-if="posts.length == 0">LOADING..</div>
		</div>
	</ion-content>
</ion-view>