<ion-view title="Staff">
	<ion-content has-bouncing="false" class="">
		<div class="scaleVid ratio16x9">
			<img src="img/temp.png" />
		</div>
		<div class="threeleaf-separator">STAFF</div>
		<div class="list staff_list" ng-repeat="department in departments">
			<div class="item item-divider">{{department.StaffDepartment.title}}</div>
			<a ui-sref="menu.tabs.staffmember({departmentIndex: $parent.$index, staffIndex: $index})" class="item item-avatar" ng-repeat="staff in department.StaffLink">
				<img ng-if="staff.StaffMember.MediaImage.filename" img-cache ic-src="{{imageDir+staff.StaffMember.MediaImage.filename}}/width:400/height:400/crop:true/zoom:auto/{{staff.StaffMember.MediaImage.filename}}" />
				<h2>{{staff.StaffMember.first_name}} {{staff.StaffMember.last_name}}</h2>
				<p>{{staff.StaffMember.title}}</p>
			</a>
			<div class="item" ng-if="events.length == 0">LOADING..</div>
		</div>
	</ion-content>
</ion-view>